@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

/* html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
} */

body {
  margin: 0;
  /* background-color: #ffba08bf; */
  background-color: #6a040f;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.banner-img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
